@font-face {
  font-family: "Liquid Crystal";
  src: url("font.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* ------------------------------------------ */
:root {
  --color1: #008cb0;
  --color2: #2e6480;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 5px;
  background-color: #353030;
}

main {
  margin: 0 auto;
  width: 350px;
  max-width: 100vw;
  background-color: var(--color1);
  padding: 1.5em 1em;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0px #777;
  border: 1px solid var(--color2);
}
main > section {
  margin-bottom: 1em;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.left,
.right {
  display: grid;
  place-content: center;
}
.left {
  font-size: 30px;
  font-weight: 700;
}
.right {
  font-size: 13px;
  place-content: initial;
}
.solar {
  background-color: #353030;
  width: 100%;
  height: 50px;
  border-radius: 3px;
}
.lcd {
  font-family: "Liquid Crystal", Verdana, Geneva, sans-serif;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 3.5em;
  overflow: auto;
  direction: revert;
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding: 0 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 10px;
}
.btn {
  all: unset;
  border: 1px solid var(--color2);
  border-radius: 17px;
  width: 100%;
  height: 45px;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 30px;
  box-shadow: 3px 3px 8px 0px black, inset 1px 1px 2px white;
  position: relative;
  letter-spacing: -2px;
}

.btn:hover {
  box-shadow: 3px 3px 4px 0px black, inset 1px 1px 2px white;
  font-size: 29px;
}
.btn:nth-child(20) {
  grid-row: span 2;
  height: 100%;
}
.btn:nth-child(16),
.btn:nth-child(21) {
  background: var(--color2);
}

.btn:nth-child(21)::after {
  position: absolute;
  content: "ON";
  font-size: 13px;
  bottom: -45%;
  left: 50%;
  transform: translateX(-50%);
}
